<div class='order-show'>
<h1><b>Order </b><%= @order.id %></h1>
<h2><b>Status: </b><%= @order.status.titleize %>
  <% if @order.status == 'pending' %>
    <%= link_to "| Cancel Order?", profile_order_path(@order), method: :delete, data: {confirm: "Are you sure you want to cancel this order?"} %>
  <% end %>
</h2>
<h2><b>Ordered on: </b><%= @order.created_at.to_date %></h2>
<h2><b>Order updated on: </b><%= @order.updated_at.to_date %></h2>
  <div class="show-order">
    <% @order_items.each_with_index do |order_item, i| %>
      <div id="item-<%=order_item.item_id  %>" class='show-order-item'>
        <h2><span id='item-number'>Item <%= i + 1 %>:</span></h2>
        <%= image_tag(order_item.item.image, class: "big-picture") %>
        <div class='order-item-description'>
          <ul>
            <li><b>Name: </b><%= link_to "#{order_item.item.name.titleize}", item_path(order_item.item) %></li>
            <li><b>Description: </b><%= order_item.item.description %></li>
            <li><b>Quantity: </b><%= order_item.quantity %></li>
            <li><b>Price: </b><%= number_to_currency(order_item.price) %></li>
            <li><b>Subtotal: </b><%= number_to_currency(order_item.subtotal) %></li>
          </ul>
        </div>
      </div>
    <% end %>
    <h2><b>Grand total: </b><%= number_to_currency(@order.total_price) %> </h2>
  </div>
</div>
