<h1> All Merchants </h1>
<div id='all-merchants'>
  <% @merchants.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>" class='merchant-index'>
      <span class='merchant-name'><%= link_to(merchant.name, admin_merchant_path(merchant)) %></span>
      <ul>
        <li><b>City:</b> <%= merchant.city %></li>
        <li><b>State: </b><%= merchant.state %></li>
        <li><b>Zip code:</b> <%= merchant.zip_code %></li>
        <li><b>Join date:</b> <%= merchant.created_at.to_date %></li>
      </ul>
      <% if current_user && current_user.admin? %>
        <p>Status: <%= merchant.status %>
          <% if merchant.enabled? %>
            <%= button_to("Disable", admin_disable_user_path(merchant), method: "patch") %>
          <% else %>
            <%= button_to("Enable", admin_enable_user_path(merchant), method: "patch") %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
