<h1> All Merchants </h1>
<div class="statistics">

  <h3>Statistics</h3>
  <ol class="top_quantity">
    <h3> Top 3 merchants by quantity </h3>
    <% @merchants.top_merch_quantity.each do |merchant| %>
      <li><%= merchant.name.titleize %> | <%= merchant.sum_order_items_quantity %> Items Sold</li>
    <% end %>
  </ol>
  <ol class="top_revenue">
    <h3> Top 3 merchants by revenue </h3>
    <% @merchants.top_merch_revenue.each do |merchant| %>
      <li><%= merchant.name.titleize %> | <%= number_to_currency(merchant.sum_order_items_revenue) %></li>
    <% end %>
  </ol>
  <ol class="fastest_fulfillment">
    <h3>Fastest merchants </h3>
    <% @merchants.fastest_fulfillment.each do |merchant| %>
      <li><%= merchant.name.titleize %> | Average Fulfillment Time: <%= merchant.fulfillment_time %></li>
    <% end %>
  </ol>
  <ol class="slowest_fulfillment">
    <h3>Slowest merchants </h3>
    <% @merchants.slowest_fulfillment.each do |merchant| %>
      <li><%= merchant.name.titleize %> | Average Fulfillment Time: <%= merchant.fulfillment_time %></li>
    <% end %>
  </ol>
  <ol class="biggest_orders">
    <h3>Biggest orders </h3>
    <% @biggest_orders.each do |order| %>
      <li>Order id: <%= order.id %> | Order quantity: <%= order.order_total %></li>
    <% end %>
  </ol>
  <ol class="top_states">
    <h3>Top states</h3>
    <% @users.top_states.each do |result| %>
      <li><%= result.state %> | <%= result.order_count %> orders</li>
    <% end %>
  </ol>
  <ol class="top_cities">
    <h3>Top cities</h3>
    <% @users.top_cities.each do |result| %>
      <li><%= result.city %> | <%= result.order_count %> orders </li>
    <% end %>
  </ol>
</div>
<div id='all-merchants'>
  <% @merchants.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>" class='merchant-index'>
      <% if current_user && current_user.admin? %>
        <span class='merchant-name'>
          <%= link_to(merchant.name.titleize, admin_merchant_path(merchant)) %>
        </span>
      <% else %>
        <span class='merchant-name'><%= merchant.name.titleize %></span>
      <% end %>
      <ul>
        <li><b>City:</b> <%= merchant.city %></li>
        <li><b>State: </b><%= merchant.state %></li>
        <li><b>Zip code: </b><%= merchant.zip_code %></li>
        <li><b>Join date: </b><%= merchant.created_at.to_date %></li>
      </ul>
      <% if current_user && current_user.admin? %>
        <p>Status: <%= merchant.status %>
          <% if merchant.enabled? %>
            <%= button_to("Disable", admin_toggle_user_path(merchant), method: "patch") %>
          <% else %>
            <%= button_to("Enable", admin_toggle_user_path(merchant), method: "patch") %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
