<div class="statistics">
  <!-- to do make this a sidebar -->
  <ul class="top_quantity">
    <h3> Top 3 merchants by quantity </h3>
    <% @merchants.top_merch_quantity.each do |merchant| %>
      <li><%= merchant.name %></li>
    <% end %>
  </ul>
  <ul class="top_price">
    <h3> Top 3 merchants by price </h3>
    <% @merchants.top_merch_price.each do |merchant| %>
      <li><%= merchant.name %></li>
    <% end %>
  </ul>
  <ul class="fastest_fulfillment">
    <h3>Fastest merchants </h3>
    <% @merchants.fastest_fulfillment.each do |merchant| %>
      <li><%= merchant.name %></li>
    <% end %>
  </ul>
</div>
<h1> All Merchants </h1>
<div id='all-merchants'>
  <% @merchants.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>" class='merchant-index'>
      <% if current_user && current_user.admin? %>
        <span class='merchant-name'>
          <%= link_to(merchant.name, admin_merchant_path(merchant)) %>
        </span>
      <% else %>
        <span class='merchant-name'><%= merchant.name.titleize %></span>
      <% end %>
      <ul>
        <li><b>City:</b> <%= merchant.city %></li>
        <li><b>State: </b><%= merchant.state %></li>
        <li><b>Zip code: </b><%= merchant.zip_code %></li>
        <li><b>Join date: </b><%= merchant.created_at.to_date %></li>
      </ul>
      <% if current_user && current_user.admin? %>
        <p>Status: <%= merchant.status %>
          <% if merchant.enabled? %>
            <%= button_to("Disable", admin_toggle_user_path(merchant), method: "patch") %>
          <% else %>
            <%= button_to("Enable", admin_toggle_user_path(merchant), method: "patch") %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
