<h1><%= @user.name %></h1>
<%= @user.email %>
<%= @user.address %>
<%= @user.city %>
<%= @user.state %>
<%= @user.zip_code %>

<% if current_user && current_user.registered? %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>

<% if current_user && current_user.merchant? %>
  <%= link_to 'View Items', "/dashboard/items"%>
<% end %>
