<% if merchant_user? %>
  <%= button_to('Add Item', new_dashboard_item_path, method: :get) %>
<% elsif admin_user? %>
  <%= button_to('Add Item', new_admin_merchant_item_path(@merchant), method: :get) %>
<% end %>

<div class="merchant-item-index">
  <% @items.each do |item| %>
    <div id="item-<%= item.id %>" class="merchant-item">
      <h5>Item ID: <%= item.id %></h5>
      <ul>
        <li><%= item.name %></li>
        <li><%= item.description %></li>
        <li>Price: <%= number_to_currency(item.price) %></li>
        <li><%= image_tag(item.image, class: :thumb, onerror: 'this.src="/no_image_available.jpg"') %></li>
        <li>In stock: <%= item.instock_qty %></li>
      </ul>
      <% if merchant_user? %>
        <%= render partial: "/dashboard/items/buttons", locals: {item: item}%>
      <% elsif admin_user? %>
        <%= render partial: "/admin/items/buttons", locals: {item: item}%>
      <% end %>

    </div>
  <% end %>
</div>
