<%= button_to('Add Item', dashboard_items_new_path, method: :get) %>
<% @items.each do |item| %>
  <div id="item-<%= item.id %>">
    <h5>Item id: <%= item.id %></h5>
    <ul>
      <li><%= item.name %></li>
      <li><%= item.description %></li>
      <li>Price: <%= number_to_currency(item.price) %></li>
      <li><%= image_tag(item.image, class: :thumb) %></li>
      <li>In stock: <%= item.instock_qty %></li>
    </ul>
    <%= button_to("Edit Item", dashboard_item_edit_path(item)) %>

      <% if item.enabled? %>
        <p> Status: Enabled
        <%= button_to("Disable Item", dashboard_item_toggle_path(item), method: :patch) %>
        </p>
      <% else %>
        <p> Status: Disabled
        <%= button_to("Enable Item", dashboard_item_toggle_path(item), method: :patch) %>
        </p>
      <% end %>

    <% if item.never_ordered? %>
      <p>No user has ever ordered this item: <%= button_to("Delete Item", dashboard_item_path(item), method: :delete, data: {confirm: "Are you sure?"}) %></p>
    <% end %>
  </div>
<% end %>
