<%= render partial: "/user_info" %>
<% if merchant_user? %>
  <%= link_to 'View Items', dashboard_items_path %>
<% elsif admin_user? %>
  <%= link_to 'View Items', admin_merchant_items_path(@user) %>
<% end %>

<h3>Pending Orders</h3>
<% @orders.each do |order| %>
  <%= render partial: "/dashboard/orders/order_info", locals: {order: order} %>
<% end %>

<div class='statistics'>
  <h3>Statistics</h3>
  <% top_5_items = current_user.top_5_items %>
  <h4>
    <b>Top items sold by quantity:</b>
    <% if top_5_items[0] %><%= top_5_items[0].name %><% end %><% if top_5_items[1] %>, <%= top_5_items[1].name %><% end %><% if top_5_items[2] %>, <%= top_5_items[2].name %><% end %><% if top_5_items[3] %>, <%= top_5_items[3].name %><% end %><% if top_5_items[4] %>, & <%= top_5_items[4].name %><% end %></h4>
  <h4>
    Sold <%= current_user.total_items_sold %> items, which is <%= current_user.percent_items_sold %>
    of your total inventory
  </h4>
  <h4>
    <% top_states = current_user.top_3_states %>
    Top 3 states by quantity shipped: <% if top_states[0] %><%= top_states[0] %><% end %><% if top_states[1] %>, <%= top_states[1] %><% end %><% if top_states[2] %>, & <%= top_states[2] %><% end %></h4>
  <h4>
    <% top_city_states = current_user.top_3_city_states %>
    Top 3 city/states by quantity shipped: <% if top_city_states[0] %><%= top_city_states[0] %><% end %><% if top_city_states[1] %>; <%= top_city_states[1] %><% end %><% if top_city_states[2] %>; & <%= top_city_states[2] %><% end %></h4>
  <h4>
    Top customer by most orders: <%= current_user.top_customer_by_orders.name if current_user.top_customer_by_orders %>
  </h4>
  <h4>
    Top customer by most items ordered: <%= current_user.top_customer_by_qty.name if current_user.top_customer_by_qty %>
  </h4>
  <h4>
    <% top_3_customers_by_total_paid = current_user.top_3_customers_by_total_paid %>
    Top customers by total money spent: <%= top_3_customers_by_total_paid[0].name if top_3_customers_by_total_paid[0] %>,
    <%= top_3_customers_by_total_paid[1].name if top_3_customers_by_total_paid[1] %>, & <%= top_3_customers_by_total_paid[2].name if top_3_customers_by_total_paid[2] %>
  </h4>
</div>
