<div class='shopping-cart'>
  <h1>Shopping Cart</h1>
  <% unless @cart.empty? %>
    <% unless current_user %>
     <div class="must_log_in">
       <h2>You have to <%= link_to "register", register_path %> or <%= link_to "log in", login_path %> to checkout</h2>
     </div>
    <% end %>
    <div class='cart-basket'>
      <% @cart.current_items.each do |item| %>
        <div class='item-<%= item.id %> cart-item'>
          <%= image_tag item.image, alt: item.name, class: :small_thumb, onerror: 'this.src="/no_image_available.jpg"' %>
          <div class='cart-item-info'>
            <span id='cart-item-title'><h2><%= item.name %></h2></span>
            <h4>Sold by: <%= link_to "#{item.user.name}", merchants_path(item.user) %></h4>
            <h4><%= link_to "+", cart_path(change_quantity: "+", item_id: item.id), method: :patch %>Qty <%= @cart.qty(item) %>
              <%= link_to "-", cart_path(change_quantity: "-", item_id: item.id), method: :patch%></h4>
            <h4><%= number_to_currency(item.price) %> ea. Subtotal: <%= number_to_currency(item.price * @cart.qty(item)) %></h4>
            <%= link_to "remove", cart_path(change_quantity: "0", item_id: item.id), method: :patch %>
          </div>
        </div>
      <% end %>
    </div>
    <h2>Total: <%= number_to_currency(@cart.total_cost) %></h2>
    <% if current_user %>
      <h2><%= link_to "Check out", profile_orders_path, method: :post %></h2>
    <% else %>
      <h2>Log in to check out.</h2>
    <% end %>
    <h4><%= link_to "Empty cart", cart_path, method: :delete %></h4>
  <% else %>
    <h2>Cart is empty</h2>
  <% end %>
</div>
