<h1>Order <%= @order.id %></h1>
<h2>Customer info:</h2>
<%= render partial: "/user_info"%>

<% @order.order_items.each do |order_item| %>
  <div id="order_item-<%= order_item.id %>">
    <% if order_item.fulfillable? %>
      <%= button_to 'Fulfill', dashboard_order_fulfill_path(@order), method: 'patch' %>
  </div>
    <% end %>
<% end %>

<%= render partial: "/order_items" %>
