<div id="item-index-statistics">

  <div id="most-popular-items">
    <h5>5 Most Popular Items</h5>
    <ol>
      <% @top_5_items.each do |item| %>
        <li><%= item.name %> (<%= item.units_sold %> units sold)</li>
      <% end %>
    </ol>
  </div>
</div>


<div class="flex-container">
  <% @items.each do |item| %>
    <div id="item-<%= item.id %>" class="inner-flex shadow">
      <%= link_to image_tag(item.image, class: :thumb), item_path(item) %>
      <h4><%= link_to(item.name, item_path(item)) %></h4>
      <ul>
        <li><b>Sold by:</b> <%= item.user.name %> </li>
        <li><b>In Stock:</b> <%= item.instock_qty %> items</li>
        <li><b>Price:</b> <%= number_to_currency(item.price) %></li>
        <li><%= item.description %></li>
      </ul>
    </div>
  <% end %>
</div>
