<h1><%= @item.name %></h1>
<main>
<div class="item-img">
  <%= image_tag(@item.image, class: "big-picture") %>
</div>
<ul>
  <li>Description:<%= @item.description %></li>
  <li>Merchant Name: <%= @item.user.name %></li>
  <li>Inventory: <%= @item.instock_qty %></li>

  <li><strong>Price: $</strong><%= @item.price %></li>
  <%= button_to "Add Item", carts_path(item_id: @item.id) %>

</ul>
</main>
