<div class='item-show-page'>
  <h1><%= @item.name %></h1>
  <div class="item-img">
    <%= image_tag(@item.image, class: "big-picture") %>
  </div>
  <ul>
    <li><b>Description:</b> <%= @item.description %></li>
    <li><b>Merchant Name:</b> <%= @item.user.name %></li>
    <li><b>Inventory:</b> <%= @item.instock_qty %></li>
    <li><strong>Price: </strong><%= number_to_currency(@item.price) %></li>
    <% unless current_user && (current_user.admin? || current_user.merchant?) %>
      <li>
        <%= button_to "Add Item", carts_path(item_id: @item.id) %>
      </li>
    <% end %>
  </ul>
</div>
