<div class='item-show-page'>
  <h1><%= @item.name.titleize %></h1>
  <div class="item-img">
    <%= image_tag(@item.image, class: "big-picture", onerror: 'this.src="/no_image_available.jpg"') %>
  </div>
  <ul>
    <li><b>Description:</b> <%= @item.description %></li>
    <li><b>Merchant Name:</b> <%= @item.user.name.titleize %></li>
    <li><b>Inventory:</b> <%= @item.instock_qty %></li>
    <li><b>Price: </b><%= number_to_currency(@item.price) %></li>
    <li><b>Average Time to Fulfill Item: </b>
    <% if avg_time = @item.avg_fulfillment_time %>
      <%= avg_time.sub(/\.\d*$/, '') %>
    <% end %>
    </li>
    <% unless admin_user? || merchant_user? %>
      <li>
        <%= button_to "Add Item", carts_path(item_id: @item.id) %>
      </li>
    <% end %>
  </ul>
</div>
