<nav>
  <div class="nav-wrapper">

    <ul class='nav-link-container'>

      <li><h3><%= link_to "Home", "/" %></h3></li>
      <li><h3><%= link_to "Browse", "/items" %></h3></li>
      <li><h3><%= link_to "Merchants", "/merchants" %></h3></li>
      <li><h3><%= link_to "Cart: #{@cart.total_count}", "/cart" %></h3></li>
      <li><h3><%= link_to "Log in", "/login" %></h3></li>
      <li><h3><%= link_to "Register", "/register" %></h3></li>

    </ul>
  </div>

</nav>
