<nav>
  <div class="nav-wrapper">
    <ul class='nav-link-container'>
      <li><h3><%= link_to "Home", "/" %></h3></li>
      <li><h3><%= link_to "Browse", "/items" %></h3></li>
      <li><h3><%= link_to "Merchants", "/merchants" %></h3></li>

      <% if current_user && current_user.merchant? %>
        <li><h3><%= link_to "Dashboard", "/dashboard" %></h3></li>
      <% elsif current_user && current_user.admin? %>
        <li><h3><%= link_to "All Users", "/admin/users" %></h3></li>
      <% end %>
      <% if current_user %>
        <% if current_user.registered? %>
          <li><h3><%= link_to "Profile", profile_path %></h3></li>
        <% end %>
        <li><h3><%= link_to "Orders", profile_orders_path %></h3></li>
        <li><h3><%= link_to "Log Out", logout_path, method: :delete %></h3></li>
        <li><h3>Logged in as <%= current_user.name %></h3></li>
      <% else %>
        <li><h3><%= link_to "Log in", "/login" %></h3></li>
        <li><h3><%= link_to "Register", "/register" %></h3></li>
      <% end %>
      <% unless current_user && (current_user.merchant? || current_user.admin?) %>
        <li>
          <h3>
            <%= button_to "cart", method: "get", html: {class: "cart-button"} do  %>
              <div>
                <i class="fas fa-shopping-cart"></i>
              </div>
              Cart(<%= @cart.total_count %>)
            <% end %>
          </h3>
        </li>
      <% end %>
    </ul>
  </div>

</nav>
