<% @order_items.each_with_index do |order_item, i| %>
  <div class='order-item-container'>
    <div id="item-<%= order_item.item_id %>" class='show-order-item'>
      <h2><span id='item-number'>Item <%= i + 1 %>:</span></h2>
        <%= image_tag(order_item.item.image, class: "thumb", onerror: 'this.src="/no_image_available.jpg"') %>
        <ul>
          <li><b>Name: </b><%= link_to "#{order_item.item.name.titleize}", item_path(order_item.item) %></li>
          <li><b>Description: </b><%= order_item.item.description %></li>
          <li><b>Quantity: </b><%= order_item.quantity %></li>
          <li><b>Price: </b><%= number_to_currency(order_item.price) %></li>
          <li><b>Subtotal: </b><%= number_to_currency(order_item.subtotal) %></li>
          <li><b>Status: </b>
            <% if order_item.fulfilled? %>
                <%= "Fulfilled" %>
              <% else %>
                <%= "Not Fulfilled" %>
            <% end %></li>
          <li>
            <% if current_user && current_user.merchant? %>
              <% if order_item.fulfillable? %>
                <%= button_to 'Fulfill', dashboard_order_item_fulfill_path(order_item), method: 'patch'%>
              <% elsif order_item.quantity > order_item.item.instock_qty %>
                <div class='out-of-stock'>Out of Stock</div>
              <% end %>
            <% elsif current_user && current_user.admin? %>
              <% if order_item.fulfillable? %>
                <%= button_to 'Fulfill', admin_order_item_fulfill_path(order_item), method: 'patch' %>
              <% elsif order_item.quantity > order_item.item.instock_qty %>
                <div class='out-of-stock'>Out of Stock</div>
              <% end %>
            <% end %>
          </li>
        </ul>
    </div>
  </div>
<% end %>
