<h1><%= @user.name %></h1>
<ul>
<li>Email: <%= @user.email %></li>
<li>Address: <%= @user.address %></li>
<li>City: <%= @user.city %></li>
<li>State: <%= @user.state %></li>
<li>Zip code: <%= @user.zip_code %></li>
</ul>
