<div class='user-info'>
  <h1><b><%= @user.name %></b></h1>
  <h3><b>Email: </b><%= @user.email %></h3>
  <h3><b>Address: </b><%= @user.address %></h3>
  <h3><b>City: </b><%= @user.city %></h3>
  <h3><b>State: </b><%= @user.state %></h3>
  <h3><b>Zip Code: </b><%= @user.zip_code %></h3>
</div>
