<% @user.orders.each do |order| %>
  <div class="order-<%= order.id %> profile-order">
    <h3><b>Order:</b> <%= link_to "#{order.id}", profile_order_path(order.id) %></h3>
    <h4><b>Created at:</b> <%= order.created_at %> </h4>
    <h4><b>Updated at:</b> <%= order.updated_at %> </h4>
    <h4><b>Status:</b> <%= order.status %> </h4>
    <h4><b>Total item count:</b> <%= order.total_quantity %> </h4>
    <h4><b>Total:</b> <%= number_to_currency(order.total_price) %> </h4>
  </div>
<% end %>
<% if @user.orders.count == 0 %>
  <h3>No open orders. Go buy some stuff!</h3>
<% end %>
