<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'normalize', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <%= render partial: "/navbar" %>
    </header>
    <div class="main-flex">
      <main>
        <%= yield %>
      </main>
    </div>
    <% flash.each do |key, value| %>
    <div class="alert"><%= value %></div>
    <% end %>
  </body>
</html>
