<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <%= stylesheet_link_tag    'normalize', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= render partial: "/navbar" %>
    </header>
    <div class='empty-div'></div>
    <% unless flash.count == 0 %>
      <div class='flash-flex flash'>
        <% flash.each do |type, message| %>
          <%= content_tag :div, message, class: "#{type}" %>
        <% end %>
      </div>
    <% end %>
    <div class="main-flex">
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
