<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'normalize', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <%= render partial: "/navbar" %>
    </header>
    <div class="main-flex">
      <main>
        <%= yield %>
      </main>
    </div>
    <div class='flash-flex'>
      <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: "flash #{type}" %>
      <% end %>
    </div>
  </body>
</html>
